[2015-06-18 05:55] larskotthoff opened #1 "Image paths are hard-coded"
Some of the image paths are hard-coded, which makes it impossible to version them. In particular:

[code]

[2015-06-26 09:04] jakob-r commented on #1
I am on this now. But I can't find any of these links anymore except the resampling one. (and the logo in the css)

[2015-06-26 09:40] jakob-r opened #2 "move everything one directory up"
http://mlr-org.github.io/mlr-tutorial/tutorial/ is just to redundant.
http://mlr-org.github.io/mlr-tutorial/release/html/ is how it should look like.
Any thoughts?
I would just need an ok and a lock to change all links.

[2015-06-26 09:46] jakob-r commented on #1
My solution now was to create a symlink in `tutorial/custom_theme/img` for the pictures we actually use from `images/`.
When the tutorial is build it will include the _real_ pictures so they won't change until we build it again. They will be also included in the zip correctly.

[2015-06-26 17:43] larskotthoff commented on #1
Thanks, sounds good. The build is failing at the moment tough saying that it can't find an image file, see https://travis-ci.org/mlr-org/mlr-tutorial/builds/68456413 (I've just added you to the Travis notifications).

[2015-06-28 19:46] schiffner commented on #1
I had a look today and could reproduce the error on my system. For some reason in both symlinks the paths to the files in `images/` ended with a `?` (which don't show up in the files/diffs displayed by Github). After removing them building the tutorial worked fine for me.
The travis job gives a 50 min error at the moment.

[2015-06-28 19:48] larskotthoff commented on #1
I started it again and it just finished. Looks like everything's working now, thanks!

[2015-06-28 19:48] #1 closed, assigned to nobody

[2015-06-28 19:54] schiffner commented on #1
Thanks, Jakob and Lars.

[2015-06-29 11:22] schiffner commented on #2
I'm not opposed, but would like to let @larskotthoff decide, because he built the directory structure.

[2015-06-29 17:01] larskotthoff commented on #2
Fine with me.

[2015-06-29 20:25] zmjones opened #3 "feature selection"
with the head copy of mlr i have an error in 109 of `filter_features.Rmd`.

[code]

[2015-06-29 20:27] larskotthoff commented on #3
Are you running the Github version of ParamHelpers?

[2015-06-29 20:30] zmjones commented on #3
nope that was it.  made this mistake before arg!

unrelated quick question. i am writing a page for the partial prediction stuff which is only in devel. how do i do that in the tutorial? i looked at the structure and didn't see the obvious way.

[2015-06-29 20:32] larskotthoff commented on #3
Not sure what you mean -- you can either add to an existing page or create a new one. The navigation links etc are generated automatically.

[2015-06-29 20:39] zmjones commented on #3
right. what i am confused about is the versioning. some functions arguments changed from 2.4 to devel and i don't see from the travis file how that is dealt with.

[2015-06-29 20:41] larskotthoff commented on #3
The old versions are generated manually and static. Any changes you make will show up in the devel version and eventually in new releases once those are archived. The travis job only regenerates the current version.

[2015-06-29 20:41] zmjones commented on #3
ah ok. that makes sense now

[2015-06-29 21:00] zmjones commented on #3
apparently some weirdness resulted in `feature_selection.Rmd` building, but the same error is there again now. github version of paramhelpers now.

[2015-06-29 21:02] larskotthoff commented on #3
Hmm, but this works in Travis, right? Have you checked that you have installed all packages the same way as in Travis?

[2015-06-29 21:02] zmjones commented on #3
I guess maybe it could be something changed in mlr since the last tutorial rebuild?

[2015-06-29 21:02] zmjones commented on #3
yea i essentially re-ran the travis script locally.

[2015-06-29 21:03] larskotthoff commented on #3
The last mlr commit is before the last Travis run. I'll rerun the last build to check.

[2015-06-29 21:03] zmjones commented on #3
ok thanks. very frustrating!

[2015-06-29 21:08] larskotthoff commented on #3
It may also help if you remove the cache.

[2015-06-29 21:08] zmjones commented on #3
yea i have done that each time now

[2015-06-29 21:22] larskotthoff commented on #3
Works fine for me locally. It's been a while since I've updated all my packages.

[2015-06-29 21:25] zmjones commented on #3
I am currently going with the nuclear option and reinstalling all my packages. I have been trying to get this to work for waaay too long.

[2015-06-29 22:04] zmjones commented on #3
reinstalled everything on my system and it is the same error. including removing the cache and following the travis install order. same error thrown interactively

[2015-06-29 23:49] larskotthoff commented on #3
Ok, it's fine on travis. Sounds like it's your R installation? Maybe if you update that?

[2015-06-30 00:34] zmjones commented on #3
ugh. yea that is what started all this.

[2015-06-30 00:55] #3 closed, assigned to nobody

[2015-06-30 16:08] schiffner opened #6 "(Re)Structuring the tutorial?"
The Advanced section in the tutorial is getting a little full and maybe unclear/confusing.

Tutorial pages to come are:
- more about visualization
- nested resampling
- threshold setting/tuning
- multilabel classification

In Advanced there are some general topics like preprocessing, model selection, ensemble learning, but also some pages purely about classification and some about visualization.

[2015-06-30 16:52] zmjones commented on #6
One way around the nav bar issue would be to change the index page to be more of a table of contents. Can we do that with mkdocs?

Do we have anything about stacked learners? That is one thing I think would be nice to have. Caret only recently has this capability via an add-on package.

[2015-06-30 16:57] schiffner commented on #6
I have to read up on the details. But I remember that there is a toc extension for python markdown.

In mlr: Yes
In the tutorial: Unfortunately not yet. The plan was to extend the bagging page (which is quite old), mention/show stacking and call it something like 'Ensemble Methods'.

[2015-06-30 17:03] larskotthoff commented on #6
I'm fine with the structure as it is at the moment given the mkdocs restrictions. In general another option would be to make the existing pages longer, e.g. have one page on classification that deals with cost-sensitive and imbalanced classification, and rely more on the section headings and the left-hand navigation.

[2015-07-01 07:24] jakob-r commented on #2
I will do it now

[2015-07-01 07:34] berndbischl commented on #6
For me the structure that we currently have is also OK, although there are certainly some improvements possible.

Eg We could try to order things a bit better in "advanced". One option to group better might be to put a group name before the entry in the menu. Like
Visualization: Partial Dep Plots
Visualization: Another Plot

[2015-07-01 07:35] berndbischl commented on #6
It is pretty stupid that we do not advertise and explain this better. Quite a lot of people are interested inthis.

[2015-07-01 10:45] jakob-r commented on #2
Okay - i am mainly finished - waiting for travis to pass

[2015-07-01 10:46] schiffner commented on #2
Big thanks!

[2015-07-02 02:47] larskotthoff commented on #2
Ok, for some reason this fails in Travis (see https://travis-ci.org/mlr-org/mlr-tutorial/builds/69224059). I can't reproduce this locally.

The commits break the published tutorial, so I've reverted everything for now -- this needs to work while useR is going on. All the changes are in a new branch gh-pages-move that we can come back to next week.

[2015-07-02 05:03] larskotthoff commented on #2
So the error seems to be completely unrelated -- Travis is and stays broken. I've pushed a hand-generated version so that the tutorial itself works at least.

I'm going to continue investigating what's happening next week (after useR) unless somebody has an idea what's going on here?

[2015-07-02 10:27] schiffner commented on #2
Sorry, was away last evening, otherwise I could have clarified things earlier: @jakob-r 's changes are indeed unrelated. Before failing, the travis build #69 worked, but ran into a 50 min error. I restarted it several times, but had no luck. I will go over the tutorial next week and see if I can make things cheaper.

After installing mlr HEAD I can reproduce the _error in building the tutorial_ lo

[2015-07-02 11:19] berndbischl commented on #2
Who wrote that code there? I mean using a "get" is like saying "Please R, hurt me, now".
Why is that needed?

[2015-07-02 11:23] jakob-r commented on #2
Please discuss what is broken not because of the directory change in another thread.

[2015-07-02 11:29] berndbischl commented on #2
Yes, we should keep issues separate. But I guess this might also be something rather for email. Let me just say one thing here, which I will repeat again in an email. Stuff like get() CANNOT be used, expect it is unavoidable. We need a proper programming style, somebody cannot write code ala "well it works on my machine, here, now".

[2015-07-02 11:32] jakob-r opened #9 "mlr tutorial is broken"
because of timeout, and mlr changes
-- Fork from Issue #2

[2015-07-02 12:33] schiffner opened #10 "Speeding up Travis"
Travis runs into timeouts fairly often.

I think there is a lot of potential in making things cheaper in the R code of the tutorial. I can go over it next week.

But as one some occasions cheap examples do not make sense we should also think about other means.
- We could pre-generate more expensive objects like an example `BenchmarkResult`, similar to the `Task`s we already have. I'm not really a

[2015-07-02 12:37] zmjones commented on #2
I think that maybe was the commit that lars merged because he thought it was only the 50 minute error? You should revert that commit though!

[2015-07-02 12:39] schiffner commented on #9
I opened a separate issue for the timeout.

https://github.com/mlr-org/mlr-tutorial/issues/10

[2015-07-02 13:26] berndbischl commented on #10
Do you use Michels trick in travis to use binaries?

[2015-07-02 14:11] schiffner commented on #10
No, thanks for reminding me about that.

[2015-07-02 14:18] berndbischl commented on #10
You need to copy that from the yml. that will save you like 20 mins

[2015-07-02 14:54] schiffner commented on #10
Ok. We should probably do that next week to avoid breaking things again.

[2015-07-02 14:56] berndbischl commented on #10
If you look at it carefully, you could try now. Because Michel and I will also work mlr stuff on Friday

[2015-07-02 15:04] larskotthoff commented on #10
It's not that easy because the tutorial build can't use the travis R machinery. I wouldn't do it now.

On 2 July 2015 07:56:37 GMT-07:00, Bernd Bischl notifications@github.com wrote:

[2015-07-02 15:11] schiffner commented on #10
I don't really understand. Why not? What do you mean by 'the travis R machinery'?

[2015-07-02 16:23] larskotthoff commented on #10
When you tell Travis that you're building an R package, it automatically does things like install dependencies and binary packages as specified in the mlr travis file. For the tutorial, we're telling it that it's a bash build and run everything to install dependencies manually (this is necessary because R builds assume an R package and don't work for the tutorial).

So in order to make the binary

[2015-07-02 16:25] larskotthoff commented on #9
Depends on berndbischl/mlr#367.

[2015-07-02 17:21] schiffner commented on #10
I see, thanks.

[2015-07-02 23:47] larskotthoff commented on #9
Fixed now.

[2015-07-02 23:47] #9 closed, assigned to nobody

[2015-07-02 23:51] larskotthoff commented on #2
Ok, all of that should be fixed now. I'll wait until after useR to reinstate Jakob's changes :)

[2015-07-03 15:00] berndbischl commented on #10
I just looked at the yml. I guess we can do something very similar here.
But maybe @mllg  should do this, he has the most experience with the binary install, and there were some problems in the mlr repo and it took him some time to figure out how to do this.

Michel?

[2015-07-03 18:17] larskotthoff commented on #2
I will do this now.

[2015-07-03 19:28] larskotthoff commented on #2
Done.

[2015-07-03 19:28] #2 closed, assigned to jakob-r

[2015-07-03 22:26] schiffner commented on #2
Thanks, Lars.
I also did this:

9e7f1b25af747e84601e967a19f4c686f1d8f0b8

https://github.com/berndbischl/mlr/commit/86d6a4d36e054720200941b6e39e67e7c560a30a

I hope we got everything now. :)

[2015-07-03 22:28] larskotthoff commented on #2
Thanks!

[2015-07-06 20:41] schiffner opened #11 "Extend section about bagging"
- Maybe call this section "Ensemble Methods" instead and mention/show superlearner, stacked learner.
- Compare contents with section Wrapped Learners.

[2015-07-06 20:49] schiffner opened #12 "Section about thresholding"
Contents:
- some theory, particularly multi-class case
- plotThreshVsPerf
- setting / tuning threshold in combination with hyperparameter tuning / feature selection, nested resampling
- maybe shorten the paragraph about thresholding in predict.Rmd accordingly.

[2015-07-08 16:30] larskotthoff commented on #10
I've configured the Travis build to install packages in parallel and that saves us about 10-15 minutes. With that, it fits comfortably into the 50 minutes. I'm closing this for now.

[2015-07-08 16:30] #10 closed, assigned to nobody

[2015-07-08 16:52] berndbischl commented on #10
Can this be used for normal mlr as well?

[2015-07-08 17:02] larskotthoff commented on #10
It doesn't look like it. For mlr, Travis handles installing packages and dependencies and as far as I can see, there's no way to tell that to run in parallel.

[2015-07-08 17:14] berndbischl commented on #10
so we should open up a issue at rtravis and tell them about it? if it is principle possible?
or do i misundersstand  what happens?

[2015-07-08 17:18] larskotthoff commented on #10
In principle all you need to do is add `Ncpus = x` to `install.packages()`. So yes, this should certainly be possible. I'll open an issue.

[2015-07-08 17:22] berndbischl commented on #10
great thx

[2015-07-08 17:35] larskotthoff commented on #10
Opened travis-ci/travis-ci#4202.

[2015-07-17 09:38] schiffner opened #14 "Travis and mlr dependencies"
If dependencies are added to mlr devel the Travis build of the tutorial can break due to uninstalled packages (today this happened because of the new learners from `neuralnet` and `SwarmSVM`).

[2015-07-17 10:24] #14 closed, assigned to nobody

[2015-07-17 10:56] berndbischl commented on #14
Ok. This is kinda hard to automise. So I guess you need to watch this a bit :(
But should be easy to figure out and see if it happens

[2015-07-17 11:07] schiffner commented on #14
I simply told Travis to also install the dependencies for the github version of mlr. So this exact problem should hopefully never happen again. :)

[2015-07-22 16:37] larskotthoff opened #15 "show how to do normal cost-sens classification with mlr"
See mlr-org/mlr#114

show an example application with
- binary classes
- multi-classes

then extend later

Two things can be added to the tutorial:
- Use methods for example-dependent costs for "normal" class-dependent cost problems. (I have to think this through first.)
- Push the function (we talked about some time ago) that calculates the expected costs and selects the cheapest class to mlr and

[2015-07-26 21:14] schiffner commented on #6
Thank you all for your replies.

I found out last week that more than two levels of navigation are supported for the mkdocs theme that we use (the docs on this are just outdated)
https://groups.google.com/forum/#!topic/mkdocs/rU73ZC1BKis

I guess we could use this to order things a bit better in Advanced.

Here are screenshots how this would look like:
https://github.com/mkdocs/mkdocs/pull/482

To

[2015-07-27 08:16] jakob-r commented on #6
I will try to put the custom mlr css changes into an extra file so that we can just always update `base.css`

[2015-07-27 13:28] schiffner commented on #6
Thanks @jakob-r ! That's much better than my proposal.

[2015-08-15 14:21] berndbischl opened #18 "ROC section: bad example"
In the ROC adv section we compare some learners on sonar.task with a visual ROC curve.
But we train and test and the whole task, so we compare on the training set.

This is not common and a bad example. we SHOULD REALLY use at least a proper test set.

[2015-08-17 10:18] schiffner commented on #18
Yep. I'm going to fix this.

[2015-08-17 10:28] #18 closed, assigned to nobody

[2015-08-17 12:09] schiffner opened #19 "Travis"
At the moment Travis fails due to problems when installing package `gmp` (a dependency of `rknn`).

Snippet from Traivs log:

[code]

[2015-08-17 13:38] schiffner commented on #19
This seems to be fixed now via 10879e524b94f8a79d089699a149bb07fdfcff57

[2015-08-17 14:19] #19 closed, assigned to nobody

[2015-09-18 11:26] schiffner opened #24 "Travis"
At the moment the html pages are not pushed because

[code]

[2015-09-18 19:28] schiffner commented on #24
Apparently something changed in Travis (?) and the remote.origin.url started already with https.
Just had to delete this line

[code]

[2015-09-18 19:28] #24 closed, assigned to nobody

[2015-09-19 14:53] larskotthoff commented on #24
Thanks for fixing this. Working with Travis is a bit of a pain...

[2015-09-20 11:00] schiffner commented on #24
You're welcome. As you're constantly battling Travis, I thought I could share at least a bit of the pain. But fortunately, it was an easy fix.

[2015-09-22 16:55] schiffner opened #25 "Automatic link checking"
Relevant info from https://github.com/mlr-org/mlr/issues/157:
- automatic link checking: try http://wummel.github.io/linkchecker/
- Autodidact24 also proposed: https://github.com/endymion/link-checker
  Its a Ruby gem and works well static HTML pages.

Also from Autodidact24: So, we use Travis CI for testing the project. If we decide to use http://wummel.github.io/linkchecker/, which is a Python f

[2015-09-23 20:12] berndbischl opened #26 "mini issue: please add 1 sentence in the learner API"
Dependent parameters with a \code{requires} field must use \code{quote} and not
   \code{expression} to define it.

[2015-09-23 20:31] schiffner commented on #26
Yep, will do.
Added it to my todo-list when I saw Lars' PR.

[2015-09-24 09:52] larskotthoff opened #27 "Make the tutorial build faster"
1. Use binary R packages instead of installing everything from source.
2. Measure how long each part of the tutorial takes to compile to see where we could save something.

[2015-09-24 12:05] larskotthoff commented on #27
1 is done and sped everything up by more than 15 minutes, so we're good for now.

2 can wait.

[2015-09-24 17:14] schiffner commented on #27
Thx. That's pretty cool.

[2015-09-24 19:16] berndbischl commented on #27
thx +1!

[2015-09-24 19:17] berndbischl commented on #27
swell i made the suggestion and forced him to do it, lars still wants a better CI :)
(still very good)

[2015-09-25 09:08] larskotthoff commented on #27
And then he forced me to do his shopping as well!

[2015-09-25 09:34] schiffner commented on #27
I see... Definitely first steps to the dark side...

[2015-11-23 20:49] schiffner opened #28 "Travis is broken"
Currently Travis fails when installing binary packages.
Apparently, the lib path is not writeable, which gives the warning and then an error in `install.packages` (which then causes the error in `cat` in `update-packages.r`).

Does anyone know what's going on? I can work on it tomorrow afternoon at the earliest.

[code]

[2015-11-23 21:05] berndbischl commented on #28
@mllg  wrote this

[2015-11-24 17:20] schiffner commented on #28
Fixed now via f24b87024bb4e2f56eccbd42a54db9036828324e. Just a missing `sudo`.

But note that this is also missing in the travis script for mlr and in the README of https://github.com/rdatsci/travis-r-tools!

@mllg said:

I looked into it. I found an issue about the Travis installation process (https://github.com/hadley/devtools/issues/974) where they discuss for example a `devtools::update_packag

[2015-11-24 17:23] larskotthoff commented on #28
Looks good, thanks for fixing!

[2015-11-24 17:23] #28 closed, assigned to nobody

[2015-11-24 17:31] schiffner commented on #28
Now it fails because it can't connect to ViperCharts... Will fix that now... :)

[2015-11-29 00:12] schiffner opened #29 "Missing learners on 'Integrated Learners' page"
This is fixed now via 2b4cde6fdefa5a47780a3f9f95c5de6c0fe7a30d.

Just for the record:
Before the "maximal number of DLL" error there occur several other errors where packages can't be loaded although they are properly installed.
The error handling in `listLearners` catches those errors and the corresponding learners are missing in the returned list.

Part of the travis log:

[code]

To fix it I re

[2015-11-29 00:21] larskotthoff commented on #29
Wait, why are those packages not installed? They are listed in the Travis configuration and according to the log are getting installed as binary versions.

[2015-11-29 10:46] berndbischl commented on #29
the packages are installed, at least i guess so.
but they cannot be loaded because of the DLL problem. then mlr generates this message that the package is not installed.

[2015-11-29 10:47] berndbischl commented on #29
the only chance I see is
a) require the package only during training and not while we construct the object. we tried that once, it is not that easy and takes a longer time to test
b) generate the tables for the different types separately.

do you want to try b?

[2015-11-29 17:21] schiffner commented on #29
It's like Bernd said. The packages are properly installed (at least I checked the travis log which does not show any errors in installing them), but cannot be loaded because of the DLL problem. These loading problems are caught by `listLearners` and lead to missing learners in the returned object.

What exactly do you mean by "separately"?

[2015-11-29 17:23] berndbischl commented on #29
I meant with b): If the tables for different learner types are in different pages in the tutorial, it might be possible to generate them im different R processes. So not all packages are loaded at once.

Or do we have another chance?

[2015-11-29 17:37] schiffner commented on #29
I'm not sure how many R processes we have there.

My impression from the logs was always that we have one process and the number of packages accumulates over different tutorial pages. For example the log file above continues with package loading errors in `learner.Rmd`, which comes directly after `integrated_learners.Rmd`:

[code]

You are certainly right that it would be easier to have different

[2015-11-30 14:41] berndbischl commented on #29
I know. But if you have separate pages, we could do this at least in principle. Or do you want to somehow manually create the page for now? Is that easier?

[2015-11-30 15:20] schiffner commented on #29
At the moment it works (although it's ugly), i.e., in the current tutorial version no learners are missing in the table.

The only thing I came up with yesterday is: As long term solution maybe we could
- as you proposed have separate pages for different learner types,
- have an additional argument for `build` which says which tutorial pages should be knit (can default to all pages, but when build

[2015-11-30 17:54] berndbischl commented on #29
Ok, I agree. Like I said, my most preferred solution would be to be able to construct the learner objects without having to load their packages. This would fix everything at once. But I really dont know how hard this would be. it SHOULD be doable.

[2015-11-30 18:26] berndbischl commented on #29
see #580.
I gues this might be doable.

[2015-11-30 18:28] schiffner opened #30 "rdocumentation still on 2.2"
We talked about this briefly some time ago in this [mega thread](https://github.com/mlr-org/mlr/issues/330). The docs of mlr on rdocumentation are still for version 2.2.
Meanwhile, many help pages are outdated and there are whole tutorial pages with the majority of links broken (like visualization or benchmark experiments).

I personally find this annoying. On the other hand, nobody has complained

[2015-11-30 18:31] zmjones commented on #30
Looks like [this](http://rpackages.ianhowson.com/cran/mlr/) might work.

[2015-11-30 18:32] berndbischl commented on #30
this is really annoying as rendering to html should be really easy.
i tried staticdocs before and we once had html online help pages for mlr that worked.
but what you are saying does not sound very reassuring.

[2015-11-30 18:36] berndbischl commented on #30
@zmjones
Nice find. So it would be an easy URL change to use this? And we just pray that they dont dissapear like rdocumentation.org?

[2015-11-30 18:37] schiffner commented on #30
@zmjones: Thanks, hadn't found this.

[2015-11-30 19:04] mllg commented on #30
There is also https://github.com/hadley/staticdocs and http://www.inside-r.org/packages/.

Inside-R might be sufficient if we can keep up a frequent release cycle, otherwise we should provide additional documentation via staticdocs for the development version.

[2015-11-30 19:13] berndbischl commented on #30
@mllg
Julia already said staticdocs did not work for her (with mlr)?

And we also looked at inside-r before. And if we need staticdocs on top of it it also isnt a (reliable?) option?

[2015-11-30 19:14] berndbischl commented on #30
Just to be clear, I would love staticdocs to work. But I am really annoyed at this, twofold.
a) We invested lots of work into this already
b) It still sucks.

[2015-11-30 19:15] berndbischl commented on #30
or better b) = we kinda need this for the tutorial, and all the links are broken, which is why it sucks.

[2015-11-30 19:18] schiffner commented on #30
So I checked out Zach's find. It looks like they have everything but the mandatory packages like base, stats, etc.

Thanks Michel.
I could swear that last week mlr on inside-r was on version 1.18 or something like this...

How much work did you invest in staticdocs already? Did it work?
My only problem with staticdocs and mlr were errors caused by some of the /cr.
I tried it with some of my own pa

[2015-11-30 19:28] mllg commented on #30
I'll push some doc fixes in a few minutes.

[2015-11-30 19:48] mllg commented on #30
With these fixes you should be able to compile most pages to html with `build_site()`, I still had trouble with the index though.

https://github.com/mlr-org/mlr/pull/583

[2015-11-30 21:13] schiffner commented on #30
@mllg: Thank you very much.

Where do you think should I put the html docs? mlr, mlr-tutorial, own repo?

[2015-11-30 21:20] mllg commented on #30
IMHO a repository "mlr-help" would be neat.

[2015-11-30 21:20] berndbischl commented on #30
We are going to create them once per CRAN release, arent we?
I might vote for extra repo.

[2015-11-30 21:22] mllg commented on #30
Has anyone tried knitr yet? http://yihui.name/en/2012/10/build-static-html-help/

[2015-11-30 21:25] mllg commented on #30
Well, I think knitr cannot handle external links until you compile all installed packages... Forget about it.

[2015-12-01 00:24] schiffner commented on #30
Only for like 5 mins. I had the same problem and didn't look further.

[2015-12-01 20:05] schiffner commented on #30
Only for completeness: (As inside-r) http://www.crantastic.org/packages/mlr is also up to date now and also has docs for older mlr versions.

[2015-12-08 18:04] schiffner commented on #30
Forget what I said about crantastic. They don't have docs.

Both inside-r and http://rpackages.ianhowson.com have mlr 2.7 docs

inside-r:
- has docs for base packages
- many docs are outdated (for example the docs for party are over 2 years old)
- no links between doc pages (only to base and recommended packages)

http://rpackages.ianhowson.com
- does not have docs for base packages
- up to date a

[2015-12-08 20:55] berndbischl commented on #30
who cares.

sounds good! I guess this is most relevant.

[2015-12-08 20:55] berndbischl commented on #30
hmm, ok so i see you also dont need my comments as you are already finishing a good compromise?
hopefully it is not too much work

[2015-12-08 21:03] schiffner commented on #30
It was a bit of work, that's why I procrastinated this long...
You can look at the devel-version of the tutorial and see if you like.

[2015-12-09 14:01] berndbischl commented on #30
I looked at it quickly but it is just more working links, to the ianhowson page now?
So I guess there is nothing to dislike? Or check?

[2015-12-10 10:26] schiffner commented on #30
Yep. Not much to see or check. Just wanted to keep you all informed and give you the opportunity for any kind of protest/suggestions. :)

[2015-12-14 14:01] PhilippPro opened #31 "Tutorial is loading too long"
I do not know much about html, java, etc. but every time I click on a page it takes some seconds until I can scroll down. I think that could be done faster. ;)

[2015-12-14 14:55] berndbischl commented on #31
that is strange. the tutorial is already rendered out in html?
so there is no extra calculation or rendering being done when you request a page?

is it possible that some pics are just too large?

[2015-12-14 16:43] zmjones commented on #31
no the images are not very big. the only thing that could possibly be slow are the small bits of javascript, i.e., the syntax highlighter or mathjax. we have our own version of the former and are not using the cdn, and there isn't much math to be rendered. so i suspect it is either a latency issue with gh-pages or something specific to @PhilippPro.

[2015-12-14 17:03] larskotthoff commented on #31
The images are actually embedded into the HTML and "extracted" via Javascript I think. I notice a bit of a lag too, but it's not too bad.

[2015-12-15 10:45] schiffner commented on #31
For me it takes also like 1-2 seconds till I can scroll down. It's about the same for all pages in the tutorial, independent of the length of the page, the number of code boxes or plots. Only mathjax seems to take a little extra time.
(When I open the tutorial files I have on my computer instead of those from github, I can scroll immediately, so this speaks for the latency issue with gh-pages that

[2015-12-15 11:36] berndbischl commented on #31
Question is: can we do anything anything about this?

[2015-12-15 15:46] larskotthoff commented on #31
It sounds like the problem is the actual rendering of the page, which we could do something about (i.e. replacing all the "dynamic" content with static images). Whether that's easily possible is a different question and I suspect that the answer is no.

[2015-12-15 16:44] zmjones commented on #31
@larskotthoff I see image tags (e.g. [here](https://github.com/mlr-org/mlr-tutorial/blob/gh-pages/2.7/html/performance/index.html#L519)) in the html. where are they being extracted with JS?

[here](http://www.webpagetest.org/result/151215_CT_WR2/1/details/) is a little benchmark i ran on one of the pages. seems like the slowest thing by far is the search index.

[2015-12-15 17:30] larskotthoff commented on #31
@zmjones Sorry, what I meant is that the images are encoded as base64 blobs in the HTML -- you're right, they're not extracted with JS, but by the browser. There's some decoding going on there though. On pages with lots of images (e.g. https://mlr-org.github.io/mlr-tutorial/release/html/partial_prediction/index.html) this accounts for about half a second on my machine.

You're right that the searc

[2015-12-15 17:40] larskotthoff commented on #31
There doesn't seem to be an option for this in mkdocs.

[2015-12-19 22:13] schiffner commented on #29
We now can create the learner tables without loading packages. See https://github.com/mlr-org/mlr/issues/580 :v:

Will adapt the integrated learners page and then close.

[2015-12-19 22:15] berndbischl opened #32 "Appendix filters: univariate filter"
IIRC we deprecated this. But it is still visible in the list.
I dont care so much about this, maybe just add the deprecation info in the note?

[2015-12-19 22:33] schiffner commented on #32
I can do that, but maybe a cleaner solution is to change `listFilterMethods` (which is used to create the table in the tutorial).

[2015-12-19 22:38] berndbischl commented on #32
of course thats much better. lets simply remove it there

[2015-12-19 22:59] schiffner commented on #32
I opened a new issue for this in the mlr tracker.

[2015-12-20 21:32] schiffner commented on #32
This was fixed by @berndbischl here: https://github.com/mlr-org/mlr/pull/634
`listFilterMethods` shows also deprecated filter methods with deprecation info in the note.

[2015-12-20 21:33] #32 closed, assigned to nobody

[2015-12-28 13:25] #29 closed, assigned to nobody

[2016-01-18 09:00] filipre opened #33 "Dead link "predict" method"
I found a dead link inside the 2.4 as well as 2.7 tutorial https://mlr-org.github.io/mlr-tutorial/release/html/create_learner/index.html for the `predict` method (see code).

Code:
- https://github.com/mlr-org/mlr-tutorial/blob/gh-pages/2.4/html/create_learner/index.html
- https://github.com/mlr-org/mlr-tutorial/blob/gh-pages/2.7/html/create_learner/index.html

[code]

[2016-01-18 09:03] filipre commented on #33
https://mlr-org.github.io/mlr-tutorial/release/html/multilabel/index.html#predict

[code]

[2016-01-18 11:10] berndbischl commented on #33
Thanks.
@schiffner Can we quickly fix this and close?

[2016-01-18 11:36] schiffner commented on #33
@filipre: Thanks.
I fixed the multilabel links in devel and 2.7.

I will push a reworked version of the create-learner page soon.

[2016-01-18 11:48] berndbischl commented on #33
Thx. Then close this here, pls

[2016-01-18 16:40] #33 closed, assigned to nobody

[2016-02-16 17:34] berndbischl opened #34 "should we use readthedocs to host the tutorial"
see here
https://readthedocs.org/

this is based on md files I think

This uses this. It even has a  github badge.
https://github.com/aydindemircioglu/SVMBridge

@mllg @jakob-r @larskotthoff @zmjones

[2016-02-16 17:35] berndbischl commented on #34
@schiffner

[2016-02-22 10:46] jakob-r commented on #34
I don't want to. We are big enough to have our own tutorial page :wink: and I favor strongly to have full control over css and html to be able to format our learner tables in a good way.
What would be the pros for readthedocs?

[2016-02-23 11:28] berndbischl commented on #34
I thought it might reduce the technical burden on our side. If you guys think it will only complicate things, lets not do it.
@schiffner
Do you want to close this?

[2016-04-13 13:06] schiffner commented on #34
I checked this out two months ago, but totally forgot to reply.

Short answer: I agree with Jakob that it would complicate things.

Long answer:
Pros:
- Versioning is as far as I understand a little simpler as what we do now: Works by pushing tags
- It's comfortable: has automatic GitHub integration, Auto updating upon push ...
- the badge :)

Cons:
- The build chain gets longer: First let Travis

[2016-04-13 13:06] #34 closed, assigned to nobody

[2016-04-13 13:12] schiffner opened #35 "Explain how to create a custom filter method"

[2016-04-13 16:25] berndbischl commented on #34
Thx for your feedback. Was just a random idea from my side.

I guess we dont need to "repair" the tutorial if it already works well.

[2016-05-07 10:50] schiffner opened #37 "Mention thresholding as possible approach to imbalanced classification"
See https://github.com/mlr-org/mlr/issues/856

[2016-06-07 22:28] schiffner opened #38 "Explain better how multiple wrappers are processed"
See https://github.com/mlr-org/mlr/issues/924#issuecomment-224432794

[2016-06-14 14:33] mllg opened #39 "Explain how to register S3 methods for custom learners"
See `tests/testthat/helper_mock_learners.R`. `registerS3method` might be necessary for custom learners (which do not live in a package namespace) to be detected by `listLearners()`.

[2016-06-16 00:32] #35 closed, assigned to nobody

[2016-07-08 19:50] schiffner opened #40 "Add info about changing plot labels/annotation"
See https://github.com/mlr-org/mlr/issues/993
- [x] visualization page
- [x] benchmark page
- [ ] partial prediction?
- [ ] ROC?
- [ ] ...

[2016-07-27 14:32] masongallo opened #42 "Breaking up Tuning into multiple sections"
@berndbischl and I discussed breaking up the Tuning tutorial and integrating my GSoC work into a basic tuning page. More advanced tuning methods like f-racing etc will go in their own advanced tuning section. I will submit a PR.

[2016-07-27 14:35] berndbischl commented on #42
cool. pls do so.

[2016-08-01 22:24] masongallo opened #44 "Add examples about train performance"
A few places in the tutorial I think would benefit from having examples showing test/train performance rather than just test. That way students can see an example of eg creating a learning curve showing both test and train performance to evaluate under/over fitting. I'm happy to add these in:
- [x] learning curves
- [x] GSoC hyper parameter effect work (I'm adding this in #43 )
- [x] tuning

Any o

[2016-08-01 22:41] berndbischl commented on #44
nope just do it

[2016-08-11 11:49] schiffner opened #47 "ToDo list tutorial update for mlr 2.10"
This is important:
- [x] new confusion/ROC matrix
  pages: predict, roc_analysis
  This is probably very outdated, maybe create an extra page
  Merge Janek's PR #48
- [x] merge Mason's PR #43

finish create_learner page
- [ ] issue #26
- [x] issue #39
- [ ] issue #54
- [x] issue #67
- [x] explain how to create a new getFeatureImportance method (fixes issue #51)

- [x] inside-r.org is decommissione

[2016-08-11 17:14] schiffner commented on #44
We have also estimateRelativeOverfitting. Haven't checked it out myself yet, but can maybe mentioned in this regard.

[2016-08-11 17:49] masongallo commented on #44
@schiffner wow! I didn't even know that was in the API - I should integrate that

[2016-08-11 17:51] berndbischl commented on #44
yeah we really need to mention these things at least briefly. even like 2-3 sentences in the tutorial plus maybe some crosslinks from other sections would help here.

[2016-08-12 11:25] berndbischl commented on #15
here is also a issue thread about this #821

and one should probably also search the mlr issue tracker. this topic came up multiple times.

[2016-08-14 11:12] schiffner opened #50 "Generate the tutorial as pdf"
This seems useful
- R packages rmarkdown and bookdown
- https://github.com/mkdocs/mkdocs/issues/374, https://github.com/jgrassler/mkdocs-pandoc
- https://atom.io/packages/markdown-pdf

[2016-08-14 20:37] ja-thomas opened #51 "Explain how to implement a custom getFeatureImportanceLearner function"
We (I) need to add a short paragraph to the tutorial on how to implement feature importance support for new learners.

See Issue [1148](https://github.com/mlr-org/mlr/issues/1148) in mlr.

[2016-08-17 08:36] jakob-r commented on #50
Didn't we have this issue once? I still see it complicated for the integrated learners and other stuff from the appendix as we use HTML there and not pure markdown.
Probably we could exclude stuff from the PDF but then again: Why do we need PDF?

My cons
- just anonther thing we have to keep in sync
- we already offer zip for offline usage
- PDFs are really unflexible to the viewing device
- We wi

[2016-08-17 09:32] berndbischl commented on #50
@jakob-r
the pdf we need so it can be put on arxiv. julia and others put much work into this, so it should be citeable.

[2016-08-17 22:40] #51 closed, assigned to nobody

[2016-08-21 15:46] schiffner opened #52 "Write a page about the multiclass wrapper"

[2016-08-21 15:50] schiffner commented on #42
I forgot close this earlier.
Thx again :)

[2016-08-21 15:50] #42 closed, assigned to nobody

[2016-08-24 22:18] masongallo opened #53 "Reproducibility in tutorial"
I think we should have at least a note somewhere reminding users about reproducibility with`set.seed`

[2016-08-24 22:25] larskotthoff commented on #53
Sounds good -- maybe in the benchmarks section? Do you want to do a PR for this?

[2016-08-24 22:34] schiffner opened #54 "Explain special.vals on learner page"
See https://github.com/mlr-org/mlr/issues/1191#issuecomment-242189121for details

[2016-08-24 23:24] masongallo commented on #53
That sounds reasonable. I'll do a PR soon.

[2016-08-26 21:17] larskotthoff opened #55 "weight.fun argument for partial dependence breaks tutorial build"

[2016-08-26 21:19] zmjones commented on #55
Weird that shouldn't have broken...
On Fri, Aug 26, 2016 at 5:17 PM Lars Kotthoff notifications@github.com
wrote:

[2016-08-27 12:38] berndbischl commented on #30
closing this, as the ianhowson page seems to work

[2016-08-27 12:39] berndbischl commented on #26
@schiffner
this issues seems to be about 1 sentence. can you do this then close?

[2016-08-27 12:41] berndbischl commented on #50
i am labeling this as "red" now :)
this should have top prio so we can cite it.

@larskotthoff  @zmjones  @mllg @jakob-r

we should all be interested in this, lets help julia here!

[2016-08-27 12:41] berndbischl commented on #31
ok,  fine. closing.

[2016-08-27 12:41] #31 closed, assigned to nobody

[2016-08-27 12:43] berndbischl commented on #53
@MasonGallo
this sounds like adding a short paragraph somewhere. i am also unsure whether this is not more "common basic R knowledge"

but feel free to add a short comment in the benchmark section, but close pls ASAP

[2016-08-27 12:44] berndbischl opened #56 "the the quickstart page really sucks. should we change it?"
lets collect some ideas here.

[2016-08-27 15:04] masongallo commented on #53
@berndbischl

Yup, less this is how to use `set.seed` and more reminder that it works as expected with mlr.

[2016-08-27 15:17] berndbischl commented on #53
of then do it and close :)

[2016-08-27 16:40] masongallo commented on #56
I would propose a quick start for various common "tasks" that basically become quick scripts for users to adapt:
- classification with resampling and hyperparam tuning
- regression with resampling and hyperparam tuning
- benchmarking
- clustering
- etc

sklearn sorta does this where if you go on the documentation for a learner, they have "examples" at the bottom of each page [example](http://sciki

[2016-08-27 18:18] jakob-r commented on #56
Why does it suck?
My proposal: We could have a Quickstart section for every chapter.

[2016-08-27 18:27] jakob-r commented on #31
Most of it is waiting for the first byte though and it's just 230KB of 1.4MB on your benchmarked website.

[2016-08-27 19:20] larskotthoff commented on #56
I like the idea of having a quickstart for every chapter.

[2016-08-27 21:00] larskotthoff commented on #50
This doesn't seem to be easy. There's https://github.com/jgrassler/mkdocs-pandoc but that doesn't work with embedded images. There's also a `pandoc()` function in R that allows to create PDFs for each individual page, but that doesn't work either.

[2016-08-27 22:09] berndbischl commented on #56
because it is much too short and does not really help you to get into the package.
and some people dont want to spend hours reading our lengthy chapters

i dont. and we already had this in the past! turned out it was unmaintenable because it resulted in having each chapter kinda "twice". it also seems to go overboard / is not what the quickstart should be (IMHO).

I like what Mason posted. Some sw

[2016-08-27 22:12] berndbischl commented on #50
but we really need this! i always thought this was kinda an advantage of mkdocs!

what exactly does this mean?

[2016-08-27 22:25] berndbischl commented on #50
i just did
render("src/impute.Rmd", output_format = "pdf_document")

and it works pretty fine and i get a nice pdf? yes, we will have to to some custom sed prepreprocessing for our linking command in the  docs, but that seems pretty doable?
where is the problem?

[2016-08-28 01:41] larskotthoff commented on #50
Pandoc generates LaTeX for PDF output, which then has something like

[code]

which obviously doesn't compile. Using the way you posted to compile the files individually returned an error for some files. Even if that worked we would have to manually compile a TOC, change page numbers etc.

[2016-08-28 10:40] berndbischl commented on #50
1) In general, you are aware that we need a positive constructive solution here?

2)

Can you please in cases like these really post the example so we can see whether there is a workaround?

3)

Well, how about we simply leave it out? and where do we use page numbers?

4) You you have a better alternative suggestion?

[2016-08-28 11:01] ja-thomas commented on #56
We wanted to do this anyways and post it on the kaggle scripts right?

[2016-08-28 11:08] schiffner commented on #30
At the moment we are back to rdocumentation because it's working now again and because inside-r is down...
In the pretty frequent case that we introduce new functions we still might want to build our own documentation, but it's better to open a new clean issue for this.

[2016-08-28 11:14] berndbischl commented on #30
why dont we use ianhowson? this shows mlr 2.9, while rdocumentation is again outdated at 2.8?

[2016-08-28 11:15] schiffner commented on #30
Because the level version of the tutorial has dead links then.

[2016-08-28 11:15] berndbischl commented on #30
? i dont get that

[2016-08-28 11:32] schiffner commented on #30
Sorry, I meant "devel version".

What I mean is that we have quite often mismatches between the online docs (like rdocumentation) and the devel version of the tutorial, for example
- if stuff gets renamed like partialPrediction -> PartialDependence, or
- if we add arguments to an existing function, or
- if we have new functions in mlr devel  for which some nice person has already written a tutoria

[2016-08-28 12:15] berndbischl commented on #30
well my 2 cents on this:

1) all of what you list i think we have to / should simply live with. it is the devel version of the tutorial for a reason. also: if we have faster release cycles, that problem will be much less severe.

2) it sounds that this has nothing to do with rdocumentation vs. ianhowson.
so again: why do we use a service which is continously outdated instead one which seemed to ha

[2016-08-28 12:17] berndbischl commented on #56
yes we could do this too, good idea

[2016-08-28 13:23] berndbischl commented on #50
i have now created a subfolder "pdf" with a script. that nearly already generates a PDF for the whole basic part.

as i am working on the RMD files i dont see why this should not work.

also note: adding a TOC was trivial.

yes there are a few issues left:
- we need to deal with the custom links
- we need to deal with image paths

and some minor polishings maybe. but to me this really looks solvab

[2016-08-28 13:54] schiffner commented on #30
Ok.

I never said that.

- ianhowson does not have all packages.
- rdocumentation is up-to-date, very, very much improved and has nice things like for example has hyperlinks between doc pages, a console where you can directly run the examples etc.

[2016-08-28 14:05] berndbischl commented on #30
thx for the clarification ;-) i will trust your (much more informed) judgement here.
close now?

[2016-08-28 14:19] schiffner commented on #50
I was working on something using bookdown but hadn't time to write everything down I tried.
If you want to take over, Bernd, feel free.

[2016-08-28 18:25] larskotthoff commented on #50
Well sorry for trying one of the proposed approaches, finding that it didn't work, and rather than letting somebody else spend effort on this again posting here that it didn't work.

[2016-08-28 19:01] #30 closed, assigned to nobody

[2016-08-28 20:53] mllg commented on #50
This is something we can easily solve by just **not** using inline images if this is the only issue here.

[2016-08-29 05:28] larskotthoff commented on #50
Fixed in #58 with PDF version attached.

[2016-08-29 06:20] larskotthoff opened #59 "Aggregation class properties breaks tutorial"
mlr-org/mlr#1187 breaks the tutorial because `properties` doesn't have a default and the code in the tutorial hasn't been adapted.

[2016-08-29 08:26] berndbischl commented on #59
Sorry will fix ASAP

[2016-08-29 10:27] schiffner commented on #50
Thy very much @larskotthoff for doing this!

[2016-08-29 11:05] schiffner commented on #59
Bernd, if it's ok with you I can fix it.

[2016-08-29 11:31] jakob-r commented on #56
So what you want is not a quickstart but a guided use case? IMO The quickstart is intended to give a copy pasta example without statistical / machine learning background. Because when you already have that background you can understand a simple code snippet easily.

But you are right that we had it already kind of like this. But maybe we did it wrong and we are able to do it better now.

[2016-08-29 11:31] schiffner commented on #30
:)
We can easily switch back and forth in case that rdocumentation causes problems again.

[2016-08-29 11:34] jakob-r commented on #56
And [bug] is clearly an overstatement.

[2016-08-29 12:34] #59 closed, assigned to berndbischl

[2016-08-29 12:37] jakob-r commented on #50
@berndbischl To cite mlr we will soon have the paper, or not?

[2016-08-29 13:24] berndbischl commented on #50
why do you ask? JMLR takes about 6 weeks to review as far as I know
What their response will be i cannot say, obviously.

[2016-08-29 15:04] zmjones commented on #55
should be fixed by https://github.com/mlr-org/mlr/pull/1205

[2016-08-29 15:47] berndbischl commented on #56
the quickstart is supposed to give a quick, hands on introduction to get into the package.
usecases seem to be best for this.

i really dont want a quickstart for each chapter.
who is going to write this? the tutorial does not even cover the complete list of of topic for now.

and mixing a few different things together in a nice usecase quickstart is really what we are missing.
"here is a fully wo

[2016-08-29 16:01] schiffner commented on #55
Thx very much.

[2016-08-29 16:01] #55 closed, assigned to nobody

[2016-08-31 10:13] jakob-r opened #60 "the integrated learners page really sucks. how can we change it?"
Actually I don't hink it really sucks... :eyes:
But! It could be a bit better (also the other tables in the Appendix). Mayor issue: The header row shoud be always visible so that you know what the 'x' stands for.

We could use the [DataTables thingy](https://datatables.net/) which is quite easy to do out of R into (HTML)Markdown and is quite stable and established. Normal HTML Table will be still

[2016-08-31 15:48] berndbischl commented on #60
i can see the point but i would rather not suggest to create too much custom code here. thats very often not a good solution. is there something "existing" that works well enough?

[2016-09-01 07:47] jakob-r commented on #60
The DataTables JavaScript thing that we also use in mlr-shiny and which I linked above.

[2016-09-01 18:10] #39 closed, assigned to nobody

[2016-09-02 10:12] schiffner opened #61 "Update feature selection page"
We now have `getFeatureImportance` and thus better support for embedded featsel methods.

[2016-09-13 16:13] larskotthoff opened #63 "Tutorial build fails after partial dependence changes"
[code]

[2016-09-13 16:15] berndbischl commented on #63
@zmjones
pls fix and also add a unit test for this case

[2016-09-14 18:02] zmjones commented on #63
should be fixed by https://github.com/mlr-org/mlr/pull/1243

[2016-09-14 20:02] zmjones commented on #63
fixed now

[2016-09-14 20:02] #63 closed, assigned to nobody

[2016-09-15 09:38] schiffner commented on #63
Thx very much.

[2016-09-19 09:41] schiffner opened #64 "Small fixes for tutorial pdf"
I retrieved this from #58.

Small issues:
- [ ] Broken links to Appendices
- [ ] Overflowing output in code chunks
- [ ] Code indentation seems to be 4 spaces if lines are broken automatically
- [x] Tables (e.g in Visualization section): possible solutions:
    change the formatting, must all these tables be tables?
- [ ] Headers?
- [ ] Language fits a web page and not a pdf
- [ ] Explanations and

[2016-09-19 09:44] schiffner commented on #50
I'm closing this here. I opened #64 for the small remaining issues that we can solve over time.

[2016-09-19 09:44] #50 closed, assigned to nobody

[2016-10-04 20:50] schiffner opened #65 "Add an example for tuning of a stacked learner"
See https://github.com/mlr-org/mlr/issues/1266.

[2016-10-12 11:55] schiffner opened #66 "Show how to do hyperparameter effects plots for >= 3 hyperpars"
The corresponding PR https://github.com/mlr-org/mlr/pull/1233 already has a description and an example, which can be used.

See https://github.com/mlr-org/mlr/issues/1281

[2016-10-13 10:44] schiffner commented on #66
@MasonGallo: I shamelessly scavenged your example from mlr-org/mlr#1281. Feel free to change/correct anything.

I also gave you write access to this repo. Sorry, forgot to do this earlier.

[2016-10-13 15:03] masongallo commented on #66
Thanks! I think this is fine for now. Finding a more "interesting" dataset for the examples is on my long term todo list.

[2016-10-13 22:52] schiffner commented on #66
Ok, great. I will close this here then.

[2016-10-13 22:52] #66 closed, assigned to nobody

[2016-10-17 14:10] schiffner opened #67 "Extend section: Add more info for developers"
- where to find the relevant source code?
  (see https://github.com/mlr-org/mlr/issues/1276)
- where to find the tests?
- relevant background info to understand tests: e.g. what's the mlr.debug.seed?
- guidelines for tests: e.g. make sure that all learner interfaces are running with default configuration
- info about (internal) helper functions
- [x] learners
- [ ] filters
- [ ] measures
- [ ] imp

[2016-10-17 23:53] larskotthoff commented on #67
Yes, sounds good! Do you want to take care of this?

[2016-10-18 22:36] schiffner commented on #67
Sorry for not responding sooner. I meant to work on this issue today, but was driven crazy by the gbm stuff.
I certainly don't mind any help. :) So if you have time and want to go ahead...

[2016-11-03 15:15] schiffner commented on #60
Just to keep you all informed:

I had a closer look at the DataTables thingy.
It offers many different options and styles. We could split large tables over several pages or use the scroll_y option (https://datatables.net/examples/basic_init/scroll_y.html) to always have a visible top row.

There are two ways how to incorporate DataTables into the tutorial:
1. via the R package DT
2. directly by in

[2016-11-04 12:49] jakob-r commented on #60
Can you shortly describe what the problems were with 1.) and can you link me to your code where you try out 2.)? I could have a look.

[2016-11-08 22:12] schiffner commented on #60
Thanks!

I put what I tried reg. 2 in https://github.com/mlr-org/mlr-tutorial/tree/DataTable:
I added the required dependencies to the mkdocs.yml and wrote a small script that currently runs DataTable on every table in the tutorial (selector needs to be refined).
I also pushed the html-file for the integrated learners page where one js-file is out commented such that DataTables work.

[2016-11-08 22:23] schiffner commented on #60
Reg. 1): I tried this several weeks ago so I don't remember exactly:
Using the DT package works great when the html is generated by `markdown::render`, but not when generating md and building the html with mkdocs. The solutions I googled (like recreating parts of markdown::render, first saving the htmlwidget separately and then including it in the html) were all much more complicated than what I n

[2016-11-09 10:30] jakob-r commented on #60
Hmm. When you change the order of the scripts and put `js/tables.js` first both works. The JavaScript Console is also not so helpfull :disappointed:

[2016-11-30 18:09] larskotthoff opened #70 "Merge benchmark functions refactoring breaks tutorial"
mlr-org/mlr#914 removed some benchmark merging functions the tutorial uses.

[2016-11-30 19:03] #70 closed, assigned to nobody

[2017-01-05 09:20] jakob-r opened #71 "Add a chapter on clustering to the mlr tutorial"
As mentioned [here](https://github.com/mlr-org/mlr/issues/1414) we might need a dedicated chapter for clustering.

[2017-01-05 14:51] schiffner commented on #71
Thx @jakob-r for transferring the issue.

The current tutorial structure is in the spirit of mlr in that it emphasizes the unified interface (make a task, make a learner, train it, etc.) instead of individual learning tasks.
So, it's good for folks that want to learn mlr in depth, but I agree, when you are in a hurry and/or just interested in how to solve a certain learning task it's tedious to co

[2017-01-05 15:38] jakob-r commented on #71
I agree. After all it's about machine learning methods and they are interchangeable for the most part. There is no classification chapter - why should there be a clustering chapter.
Could you (@rwarnung) point which are special clustering features of mlr other than `makeClusterTask`?

[2017-01-05 15:52] rwarnung commented on #71
@schiffner a quick start example sounds very good for me. Of course with enough abstraction it is not that different from other learners. I just didn't find it 100% clear how to do a cluster analysis using mlr.

@jakob-r you are right with enough efforts one (and I ;) ) is able to do it. I just thought addressing some things directly were good. E.g. I am often asked about the differences between c

[2017-02-15 14:39] jakob-r opened #73 "Once we have parallelization documentation in mlr remove some redundancies here"
We decided to have a bit of documentation inside of mlr:
https://github.com/mlr-org/mlr/pull/1116#issuecomment-277976571

[2017-03-01 15:35] rwarnung opened #74 "Typo in chapter Classifier Calibration"
Hi, in the named chapter it says

shouldn't this be

?
I just thought this was a typo.
Best regards,
RW

[2017-03-01 15:40] #74 closed, assigned to nobody

[2017-03-01 15:41] schiffner commented on #74
Hi Richard,

thanks very much for spotting the typo. I have fixed it.

Best,
Julia

[2017-03-01 21:53] SteveBronder opened #75 "Error when compiling bagging tutorial"
Getting this error when doing `./build`

[code]

[2017-03-01 21:54] larskotthoff commented on #75
Do you have the latest versions of all packages? We build the tutorial on Travis after mlr commits, so we should notice immediately if it's broken.

[2017-03-01 22:15] SteveBronder commented on #75
My computer says I do, but from yesterday we know that this whole rig is buggy.

Just to confirm, if I make a new branch in mlr-tutorial that won't mess up anything? It will just contain the new stuff for forecasting and then I can try it on my laptop

[2017-03-01 22:23] larskotthoff commented on #75
That'll be fine.

[2017-03-01 22:49] SteveBronder commented on #75
Could I get permissions to push? I'm getting an access denied error

[2017-03-01 22:52] larskotthoff commented on #75
Should work now.

[2017-03-02 01:03] SteveBronder commented on #75
Works on my laptop. Dunno why my desktop bugs out so much

[2017-03-02 01:03] #75 closed, assigned to nobody

[2017-03-06 11:49] schiffner opened #76 "ToDo list tutorial updates for mlr 2.11"
Very Important: Complete create_learner page
- [ ] issue #26
- [ ] issue #54

Also very important: Improve the quick start page / write use cases
- [ ] issue #56
- [ ] write a use case for clustering #71

These are just some things to check or mini adjustments:
- [x] maybe mention `makeLearners`
- [x] `getLearnerId`, `getLearnerType`, `getLearnerPredictType`, `getLearnerPackages`, `getLearnerParam

[2017-03-06 11:49] #47 closed, assigned to nobody

[2017-03-06 11:52] #6 closed, assigned to nobody

[2017-03-06 13:16] schiffner commented on #44
Closing this. Making a clean new issue for estimateRelativeOverfitting

[2017-03-06 15:34] gcskoenig opened #77 "include example for predict.type='se' in basics - predict"
The standard error prediction type is not covered in an example in the tutorial.

[2017-03-06 16:16] florianfendt commented on #76
I already wrote the part for plotResiduals. Will push this week

[2017-03-07 10:43] pandeva commented on #76
I will update the Learner page with the get Functions (`getLearnerId`, `getLearnerType`, `getLearnerPredictType`, `getLearnerPackages`, `getLearnerParamSet`, `getLearnerParVals`, `getLearnerShortName`)

[2017-03-07 12:47] PhilippPro opened #79 "Link OpenML in the tutorial"
Make a own section or link to the OpenML tutorial: [http://openml.github.io/openml-r/vignettes/OpenML.html](http://openml.github.io/openml-r/vignettes/OpenML.html)

Think this would fit best in the Advanced section.

[2017-03-07 20:56] schiffner opened #80 "Add info about mlr configuration to benchmark page"
We should add some rudimentary info about configuration (and a link to the configure mlr page) to the benchmark page.

Particularly important options for benchmark experiments are
* `on.learner.error`
* `on.measure.not.applicable`

Also relevant are:
* `show.info`
* `show.learner.output`

[2017-03-08 12:10] #77 closed, assigned to nobody

[2017-03-08 12:29] schiffner opened #81 "Add info about drop option of getBMR* functions"
- [x] We should add a short note (just 1-2 sentences) to the benchmark page that the drop option exists.
- [x] We should go over the tutorial examples where `getBMR*` are used and check if it makes sense to use the drop option.

[2017-03-08 12:48] schiffner opened #83 "Add info about createDummyFeaturesWrapper"
Currently I think the best place to add the info is the preprocessing page.

[2017-03-08 12:53] schiffner opened #84 "Split the preprocessing page?"
As the preprocessing page is getting a little long, one could split it:
* keep the info about built-in wrappers (create dummy features, remove constant features, caret) on the preprocessing page
* move the info about writing a custom preproc wrapper to a new page in the Extend part of the tutorial.

(effort-hardfix is maybe misleading. It's not really hard to do, but potentially affects several ot

[2017-03-09 10:24] schiffner opened #88 "ROC page: Show how to make lift charts"
See https://github.com/mlr-org/mlr/issues/1521.

[2017-03-09 16:54] #53 closed, assigned to nobody

[2017-03-09 17:37] masongallo opened #89 "Facetting for visualizing hyperparameter effects"
Add some simple examples to showcase facetting, such as train/test performance, nested cv, etc

[2017-03-10 15:18] florianfendt opened #91 "Update links to task help pages"
I opened up a PR in mlr that separates the help pages for the different task types (#1654).
The main help page ?Task still exists and is referenced for each task type, so merging #1654 will not
break the tutorial but Task.Rmd should be updated so it links to the correct task type.

[2017-03-10 15:29] berndbischl opened #93 "parallelization levels"
1) the new mlr.ensemble level is not documented on the parallel page, basic section

2) we now have the same docs twice. it is also in parallel.R.
just link to that, so the peoblem 1) does not happen in the future

REALLY simple to fix, do it now

[2017-03-10 16:17] ja-thomas opened #94 "finish cheatsheet"

[2017-03-10 16:19] ja-thomas opened #95 "Chapter for batchmark"

[2017-03-10 16:32] schiffner commented on #94
https://github.com/mlr-org/mlr-tutorial/tree/cheatsheet

[2017-03-10 16:43] schiffner commented on #93
Duplicate of #73

[2017-03-10 16:43] #93 closed, assigned to nobody

[2017-03-10 16:45] schiffner commented on #73
Fixed by https://github.com/mlr-org/mlr-tutorial/commit/e0be4b1e318cf16858434a7f485895a0d656378a.

[2017-03-10 16:45] #73 closed, assigned to nobody

[2017-03-10 20:21] schiffner commented on #56
The quick start section on the index page has been updated. (#85)
Other quick start pages are in progress. (#90, #86 )

[2017-03-11 01:58] SteveBronder commented on #56
I think a good compromise is, take all the code for the tutorial section and place it at the bottom. That way people can copy-paste and see how the whole thing works together.

[2017-03-11 02:02] SteveBronder commented on #56
"here is a fully worked out example. we will not talk about every option and detail. for thta, pls look at the tutorial and the API docs"

Bernd would this be sort of what you are looking for? I would have to add the code directly into the analysis and remove a few things that were relevant for that specific project.

It does imputation, tuning, stacking, and makes some pretty graphs for the outpu

[2017-03-11 02:23] SteveBronder opened #97 "Beginner and Advanced are kind of weird ways to catagorize the tutorials"
We could separate it by task type.  So we have a header at the top for regression, classification, clustering, survival, (hopefully forecasting soon), etc. and the sub tutorial things associated with each. Then we have other headers like preprocessing, resampling, imputation, etc.

Even for functions like `makeLearner` there are specific things you would do for a classification learner but not for

[2017-03-11 10:39] berndbischl commented on #97
that does not work that well. maybe for some sub sections. but you dont want to write tuning 5 times, for each task type. the same holds for MANY other sections of the tutorial.
and thats IMHO an advantage of the mlr structure. that its always handled in the same manner.

for some intro parts / quickstarts / use cases you might be correct though.

[2017-03-11 16:40] SteveBronder commented on #97
Breaking it up by task type is one suggestion. I fear that eventually 'Advanced' is going to slowly creep to be the length of my computer screen.

What would be a meaningful grouping?

[2017-03-11 20:36] berndbischl commented on #97
thats certainly true. potential breakup:

- tuning (or model optimization, including feature selection and others)
- other tasks / advanced tasks (like multi label)
- evaluation
- visualization

?

[2017-03-11 20:47] berndbischl opened #98 "quickstart: must really include a few more operations"
at LEAST show resampling in 3 lines.

maybe simple even tuning.

[2017-03-11 21:49] berndbischl commented on #56
good idea. open issue for this?

[2017-03-11 22:38] SteveBronder opened #99 "Take all code in each tutorial and place it in the bottom"
Related to #56 . A compromise for 'quick and dirty examples' may be to paste all the code for a given tutorial page at the bottom of the tutorial. So someone can just scroll to the bottom and see how everything comes together without being interrupted by pesky words

[2017-03-12 02:44] berndbischl commented on #56
that's a tad more complex than what i thought of, and i also think we should have simpler use cases. but yes, this is definitely cool. if included there should also be a at least a teaser blog post linking to it, or you put it in the tutorial and also the blog.

[2017-03-12 03:32] SteveBronder commented on #56
The blog is a much better place for something more compicated like that. I'll do this on Monday

[2017-03-12 03:36] berndbischl commented on #56
well the use cases should be in the tutorial too.
shall we just have a "use case page" in the tutorial with titles and then links to the blog posts?

[2017-03-12 04:00] SteveBronder commented on #56
Once we have quite a few serious use cases we should do this

[2017-03-12 19:28] schiffner commented on #91
link to PR: https://github.com/mlr-org/mlr/pull/1654

[2017-03-13 22:53] #81 closed, assigned to nobody

[2017-03-14 16:00] berndbischl opened #102 "post a mini use case that shows tuning xgboost with mbo."
if you want to be cool, even show that with custom loss

[2017-03-15 19:43] schiffner commented on #38
We got several questions about this. Should be done very soon.

[2017-03-20 01:28] masongallo commented on #98
There is also a warning in the code:
```#> Warning in lda.default(x, grouping, ...): group virginica is empty```

I will see about writing up something really quick this week.

[2017-03-20 07:49] schiffner commented on #98
Thanks very much.
The warning was my fault, really dumb typo. It's fixed now.

[2017-03-24 08:53] jakob-r opened #103 "SEO and usability: Make release tutorial the default"
To improve usability I would like to let http://mlr-org.github.io/mlr-tutorial/ directly link to the release version of the tutorial.
At the same time http://mlr-org.github.io/mlr-tutorial/release/html/ and http://mlr-org.github.io/mlr-tutorial/devel/html/ would live on.
To link to the devel version of the tutorial I would simply add a link on the "home" Page of the Tutorial.
Furthermore I suggest

[2017-03-24 08:59] jakob-r commented on #99
I could imagine that this could be done automatically. Maybe generate an R file and link to that.

[2017-03-24 16:10] larskotthoff commented on #103
Sounds good.

[2017-03-24 16:29] SteveBronder commented on #99
Do you have any links I can read to how the backend for all of this works? I could do this next week.

[2017-03-24 16:44] SteveBronder commented on #103
Good yes!

[2017-03-27 19:41] SteveBronder commented on #94
Any update on this?

[2017-03-27 19:43] SteveBronder commented on #94
From the cheat sheet:
https://github.com/mlr-org/mlr-tutorial/blob/cheatsheet/cheatsheet/MlrCheatsheet.pdf

If there is not much left to do for the cheatsheet, that extra whitespace on the second page could instead be used for the graphs. So we can move the visualization and plots sections to the second page and enlarge them a bit

[2017-03-28 07:02] jakob-r commented on #99
Well there seems to be the function `purl` you can call on an Rmd file and there is this way to reuse chunks: https://yihui.name/knitr/demo/reference/
Unfortunately to my knowledge makedocs (what we use) does not have an easily modifiable Makefile that we can edit. So I guess my favourite option at the moment would be to just use the possibility to reuse chunks manually and edit the tutorial pages

[2017-03-28 08:51] jakob-r commented on #103
I am hesitating. For example we missed to build a 2.11 release tutorial and I can imagine unless we can automatize this process via Travis that the devel version of the tutorial is more up 2 date to the cran version than the release version. Also the timeline usually looks like this:
[code]
So if we just merge stuff that is in the CRAN version of mlr we don't need a devel version anymore.

[2017-03-29 12:16] berndbischl commented on #99
lets NOT do this. this will become unmaintainable.

we have travis, right? so you can execute any shell script you want, or R code? before the tutorial is built?

[2017-03-29 12:19] berndbischl commented on #99
i mean, look in travis.yml
[code]

pretty arbitrary scripts are executed. so where is the problem to add another one?

[2017-03-29 13:16] berndbischl commented on #103
how about we only maintain one version of the tutorial from now on.

if there are slight discrepancies between cran and devel version, so be it.
and we mainly talk bout not so totally new stuff in the tutorial?

and i think we can very well live with stuff like:
a) BB  merges new forecasting stuff from @Stevo15025 into master on GH
b) new mlr not yet on cran
c) @Stevo15025 already posts a nice pag

[2017-03-29 15:22] SteveBronder commented on #99
From [this](http://stackoverflow.com/questions/16431100/knitr-exclude-chunks-from-purl) stackoverflow page it seems like we may just be able to have a code block at the end of the file that says

[code]

The `purl=FALSE` is so that we do not end up with recursion

[2017-03-29 15:33] berndbischl commented on #99
well that would be just swell

[2017-03-29 15:34] SteveBronder commented on #99
Well golly gee I'll mess around with this today

[2017-03-29 15:39] berndbischl commented on #99
hunky dory

[2017-03-29 16:22] SteveBronder opened #104 "Build fail on local"
I'm trying to do `./build` on the current docs and am getting the error
[code]

[2017-03-29 16:26] SteveBronder commented on #104
Odd, I think it is trying to run carets train function?

[2017-03-29 16:31] SteveBronder commented on #104
Looking at `./build` this appears to have been an issue before. On line 111

[code]

[2017-03-29 17:03] SteveBronder commented on #104
Resolved in the short term

If you have mlr loading automatically in your Rprofile then it will load before caret is loaded, causing caret's `train` to be called first

Is there a way in build to set the `--vanilla` option for Rscript?

[2017-03-29 17:08] berndbischl commented on #104
yes, thats correct. i am not sure what to do against this  except for removing mlr from your Rprofile.
i usually just load very smallish helper packages in my Rprofile.

[2017-03-29 17:14] #104 closed, assigned to nobody

[2017-03-29 17:16] SteveBronder commented on #99
While I'm doing this, it sure would be swell if _someone_ went and reviewed the [forecasting base](https://github.com/mlr-org/mlr/pull/1702) PR

[2017-03-29 19:02] SteveBronder commented on #99
So we can do this by adding the following lines (ignoring the \ because idk how to use \``` and have it render here without it) to each .Rmd file. The example below is for `advanced_tune.Rmd`
[code]

The first chunk creates a `.R` file to a new folder `full_code_src` while the second chunk prints all the code to the file. Note that since the second one is a print knitr does not actually redo all t

[2017-03-29 19:42] larskotthoff commented on #103
Haven't we always done that? The tutorials for the releases are really just frozen versions, they're not maintained. The advantage is that if somebody for whatever reason needs to work with an old version of mlr, they can still see the tutorial for that.

[2017-03-29 19:59] berndbischl commented on #103
yeah, but it does create *some* burden on us. and makes it a bit more confusing to readers.
if you want proof, i present exhibit A: this thread.
and exhibit B: we forgot to create a version.
and exhibit C: julia needs to *do* something each time i release to cran.

[2017-03-29 20:02] larskotthoff commented on #103
A: Not sure what you mean. It's about improving the linking?
B and C: Make creating a new version part of the release process that the person who makes the release takes care of.

[2017-03-29 20:07] berndbischl commented on #103
which we would not need, i mean the discussion how to do that, if there would be 1 tutorial and not 2.

great idea. thats me. what other issues should i disregard in order to add that to my todo list?

[2017-03-29 20:10] berndbischl commented on #103
the point is: the *less* we have to do, and the more *naturally* the whole process is, the better for us.
we already have waaaay too many checklist, standards, things to keep in mind.
i am not saying those are all bad, and i dont want a meta discussion.

but here, i see the option to cut away some fat. and i dont really see the downside to this.

its like this:
the tutorial CONTENTS are in dire ne

[2017-03-29 20:10] larskotthoff commented on #103
Making a tutorial "release" involves copying a directory and committing the result, and of course we could have a script to do this as well. It's a very small amount of effort.

[2017-03-29 20:12] berndbischl commented on #103
then how do you resolve the problem that @jakob-r raised here?

[2017-03-29 20:15] berndbischl commented on #103
that exactly what i meant, i mean this type of problem. jakob suggested to link to the release version. then he got some doubts. possibly with reason.

i, for example, never click on the release version of the tutorial. i always go to "devel".
EDIT: and refer external people to it.
why: because many more fixes will the in there. that outweighs that *maybe* the user sees a function which is not yet

[2017-03-29 22:11] SteveBronder commented on #103
A lot of this seems to be resolved by adding something like this to the PR guidelines

[code]

This has two levels of good
1. This
[code]

Becomes

[code]

2. Reviewers get a clear overview of what a branch adds and how it should work

Then we can just have one version

[2017-03-30 13:21] #44 closed, assigned to nobody

[2017-03-30 13:22] schiffner opened #105 "Show estimateRelativeOverfitting?"
See #44

[2017-03-30 13:27] schiffner opened #106 "Show makeRemoveConstantFeaturesWrapper"
Add to preprocessing page.
See also #84.

[2017-03-30 13:28] schiffner opened #107 "Show plotResiduals"

[2017-03-30 13:29] schiffner commented on #61
+ potential changes/improvements in filters

[2017-03-30 13:31] schiffner opened #108 "Write a page about dummy learners"

[2017-03-30 13:35] SteveBronder commented on #99
@schiffner thoughts?

[2017-03-30 13:42] schiffner opened #109 "Mention makeLearners"
For example in Benchmark page

[2017-03-30 13:45] schiffner opened #110 "Better integrate new(ish) learner properties into the learner tables"
this concerns
* featimp
* oobpreds
* maybe more

Related to #60.

[2017-03-30 13:48] schiffner commented on #76
I'm closing this.
Everything that wasn't done has its own issue now.

[2017-03-30 13:48] #76 closed, assigned to nobody

[2017-03-30 14:04] PhilippPro commented on #99
I have an idea. Show the code only if it is wished by the user. You can use the code_folding option in rmarkdown.

Here a minimal example (sorry for the > but otherwise it gets not readable here):

[code]

[2017-03-30 14:44] SteveBronder commented on #99
Will the code folding option work for just the bottom part? So everything else will be unfolded

[2017-03-30 18:45] schiffner commented on #99
@Stevo15025 : Thanks for your work on this issue and sorry for no commenting earlier. I was away and crazy busy the last two weeks, but I'm trying to catch up with mlr now.

* I personally would like that we provide (links to) the R-files for each tutorial page, mainly because one can easily download them and start to play around.
We could also have a zip with all R-files for download.
* For bette

[2017-03-30 21:14] SteveBronder commented on #99
No problem and no worries!

Sure I believe this would be quite easy since we save the R files in a separate folder

Yes I can also do this as I go through. The code does look a bit odd being all mushed together

We can add the call to knit::purl directly to the build file and I think it should be also possible to append the caption (## Full Code) and the second code chunk automatically to each Rmd

[2017-03-30 21:25] Stevo15025 commented on #99
Actually I'm getting an odd error when I include header name. Maybe we could just include comments?

[code]

[2017-03-31 16:43] SteveBronder commented on #99
See #111

[2017-04-04 12:42] schiffner commented on #97
Hi,

I agree that Advanced is getting very long and that rather than Basics and Advanced we could have more specific titles. (We started a similar discussion in #6. There are some more thoughts and suggestions but we did not come to a conclusion.)

I guess because I know the contents of the tutorial best I can try to come up with an initial suggestion how to categorize it in a better way and we ca

[2017-04-04 14:04] masongallo commented on #97
We can also take a look at how caret split things up: https://topepo.github.io/caret/

[2017-04-04 14:15] schiffner commented on #97
More inspiration: http://scikit-learn.org/stable/documentation.html

[2017-04-04 16:50] SteveBronder commented on #97
^ I like how scikit learn uses the top header.

scikit has a really nice template for their documentation. In particular I like the homepage and how it breaks out everything. I think we are not using that real estate as well as we could (plus putting everything on the home page would let us break things up more). I don't like it as much, but the Eigen C++ library also has a nice template, though v

[2017-04-10 10:19] schiffner commented on #97
Sorry, I'm dumb, overlooked that you linked scikit-learn already. :woman_facepalming:

So we have two different topics:
1. Improve the structure of the tutorial
2. Have a homepage where one finds everything in one place

Re 1.
* We need a better chapter/section/subsection structure.
* We need a template that better conveys the structure (maybe with a sidebar that shows chapter/section names with n

[2017-04-25 06:31] jakob-r commented on #103
I think I will try to write a script that creates the new folder automatically once the mlr version increases. Apart from that I would stick to make the devel version the default.

[2017-04-27 15:26] jakob-r commented on #103
Okay. Build file is updated. The state is now.

* We always build into devel
* Folder with github version number is a symlink to devel
* If the github mlr version does not match the folder that symlinks to devel the skript copies the contents of devel to the directory that was formerly symlinked to devel. Furthermore it creates a new symlink with the actual gitub version number that links to devel

[2017-06-07 09:23] jakob-r opened #112 "Is the concept of wrappers explained sufficiently?"
As mentioned [here](https://github.com/mlr-org/mlr/issues/1810#issuecomment-306443052) and probably also in other occasions people are confused about the order of how things are done "internally" after a learner has been wrapped.

Is this explained somewhere in the tutorial?

I was not able to find it here: http://mlr-org.github.io/mlr-tutorial/devel/html/wrapper/index.html or there http://mlr-org

[2017-07-21 19:21] SteveBronder opened #114 "Updating Travis to Trusty"
Should we do the same thing as we did for the main repo? [issue](https://github.com/mlr-org/mlr/pull/1912#issuecomment-317062603)

@pat-s would you have time to do this?

[2017-07-22 20:37] pat-s commented on #114
I'll take a look, yes

[2017-07-24 16:10] pfistfl commented on #110
#101 Adds:
- single.functional
- functionals

[2017-09-08 22:09] alvinthai opened #120 "Wrong formula for FDR"
https://github.com/mlr-org/mlr-tutorial/blob/76157380287fca598a4e564c3e700386e7ff734a/devel/html/measures/index.html#L416

FDR isn't a straight forward formula based on FP, TN, and FN.
It's based on the expectation of FP divided over actual FP.
See this article for more calculation details: http://www.d.umn.edu/~rregal/documents/5411_2010/False_Discovery_Rates_Example.pdf

FDR is a metric for conc

[2017-09-11 09:19] jakob-r commented on #120
As you say, the FDR is mainly discussed as a metric to quantify the rate of Type I errors when testing on multiple comparisons.

So the definition says:
[code]

But when we calculate the fdr-measure on a set of predicted outcomes and a the true outcomes V and S are no random variables anymore but a state.

[2017-09-24 01:43] alvinthai opened #122 "Best score for G2 metric should equal 1"
https://github.com/mlr-org/mlr-tutorial/blob/76157380287fca598a4e564c3e700386e7ff734a/devel/html/measures/index.html#L1181

according to the definition:
(number of concordant comparisons - number of discordant comparisons) / (number of concordant comparisons + number of discordant comparisons)

the limit for best score should be 1 (number of discordant comparisons = 0)

[2017-09-26 10:02] jakob-r commented on #122
Following the logic of this formula I guess you are right. Maybe @larskotthoff knows something more. Probably a copy & paste error of the G1 index?

[2017-09-26 17:36] larskotthoff commented on #122
Yep, that's a typo. I'll fix this.

[2017-09-26 17:37] #122 closed, assigned to nobody

[2017-09-27 07:15] PhilippPro opened #123 "Tuning process should not be displayed..."
... here: http://mlr-org.github.io/mlr-tutorial/devel/html/hyperpar_tuning_effects/index.html

Looks rather ugly and is a lot of finger work. ;)

[2017-10-10 12:50] jakob-r commented on #123
This issue should be already fixed in mlr and should vanish with a rebuild of the tutorial

[2017-11-11 19:30] MinhAnhL opened #124 "Example of trafo for sigma tuning in kernlab"
The example of specifying the search space of the sigma parameter in kernlab might be not correct. I talked to Bernd, the basis of the trafo should be 2 and not 10 (same for the C param?).

should be

http://mlr-org.github.io/mlr-tutorial/devel/html/tune/index.html

[2017-11-16 12:14] jakob-r commented on #64
@schiffner Can you tell why it was necessary to separate the caching? This doubles the runtime on travis - and at the moment leads to timeouts.

[2017-11-16 21:33] schiffner commented on #64
I'm not sure, if I remember correctly this was the easiest solution due to problems with embedded images (?). See the discussion in #50 for details.

[2017-11-17 09:10] jakob-r commented on #64
Hmm... then I just might try to undo this and see what happens.

[2017-11-22 11:09] jakob-r opened #126 "default branch: gh-pages:"
Can I set the default branch to gh-pages [here](https://github.com/mlr-org/mlr-tutorial/settings/branches) or can we move everything to the master branch as github allows it now to be the source for the gh-page.

Thoughts, fears etc.?

[2017-11-22 12:28] pat-s commented on #126
I had similar thoughts some time ago but forgot to write it down :+1:

[2017-11-23 16:51] MiGraber opened #127 "Typo on Basics/Performance site"
[Performance/Binary classification](https://mlr-org.github.io/mlr-tutorial/release/html/performance/index.html#binary-classification)
`Helpful in this regard is are the functions...`
Probably this should be
`Helpful in this regard are the functions...`

[2017-11-23 18:34] MiGraber opened #128 "Basics/Benchmark: Color coding"
[Benchmark Color coding](https://mlr-org.github.io/mlr-tutorial/release/html/benchmark_experiments/index.html#benchmark-analysis-and-visualization)
The color coding of "rf" and "rpart" alternate, which is quite a bit confusing.

[2017-11-27 17:38] pat-s commented on #126
@jakob-r do it then?

[2017-11-28 12:08] jakob-r commented on #126
Done. Please tell me if something behaves strangely.

[2017-12-01 21:59] #127 closed, assigned to nobody

[2017-12-01 22:18] MiGraber commented on #128
For most of the graphs you can force the right coding with the argument:
`order.lrn = getBMRLearnerIds(bmr)`
but some plotting functions dont have this argument, so I do not know if it is possible to force the right coding there, but I dont know if this is important since most graphs are right.
[code]
https://github.com/mlr-org/mlr-tutorial/pull/130

[2017-12-14 10:20] jakob-r commented on #124
indeed.

[2017-12-14 10:22] #124 closed, assigned to nobody

[2017-12-17 10:57] AlexEngelhardt opened #133 "Can't build tutorial locally. Possible typo in code?"
When going `./build`, I get this error:

[code]

It refers to this code in `benchmark_experiments.Rmd`:

[code]

When I look into `perf`, the task id of `sonar.task` is `"Sonar-example"` (with a hyphen), but here you subset for `"Sonar_example"` (with an underscore). Is that a typo? I'm not sure, since if yes, no one should be able to build it currently, right?

Note: `"Sonar_example"` instead of

[2017-12-17 11:49] AlexEngelhardt commented on #133
Oops, nevermind, got it: #132

I had to install the development version of R.

[2017-12-18 23:12] pat-s commented on #133
Why?

Updating `mlr` to the latest commit should have solved the problem as the problematic code depends on `mlr` being ahead of the commit that introduced #132.

[2017-12-19 00:09] AlexEngelhardt commented on #133
Because I don't use the git-cloned version of mlr to run in R, I just `library(mlr)`, i.e. I had to re-do `install_github(mlr...)`.

Is there a smarter way I'm missing?

[2017-12-19 07:55] pat-s commented on #133
If you do development, you should always use the development version. Whether you use a git-repo locally (do you this by "smarter way"?) or install the git version via ( "install_github") is not important at the first place but having a local git repo makes it easier to debug/make small changes.
So because `mlr-tutorial` depends on `mlr` code-wise, this means that it would be advisable to have the

[2017-12-19 08:10] AlexEngelhardt commented on #133
Oh! Yes, of course, mlr, sorry :D

So is it possible to load the git repo when I go `library(mlr)`, without having to `install_github()` at all? If so, is that documented somewhere?

[2017-12-19 12:02] jakob-r commented on #133
If you call `library(mlr)` the last installed version of mlr will be loaded this can be the cran, github or whatever version. This totally depends of what mlr version you installed the last time. So you don't have to `install_github()` every time.

[2017-12-19 13:29] AlexEngelhardt commented on #133
But when I install from the github directory (let's say `~/github/mlr`), I'd do that via `devtools::install("~/github/mlr/")`, right?

Then, every time I pull the newest updates, I'd still have to re-issue `devtools::install("~/github/mlr/")` again?

That's my main question. Do I have to re-install after every pull, or can I tell R somehow to just load the package by sourcing all files in `~/githu

[2017-12-19 13:39] pat-s commented on #133
No, after you have pulled the latest commits into your local repo, you can simply do a local installation, e.g. `R CMD INSTALL`. `devtools::install("~/github/mlr/")` automatically downloads the latest git source but does not pull it into your local repo, it just installs it on your system.

Yes, you do, either by doing a local install with the pulled files or by using `devtools::install_github()`

[2017-12-19 19:25] #133 closed, assigned to nobody

[2018-01-02 20:31] AlexEngelhardt opened #137 "Usage of undefined term "eol" in hyperpar_tuning_effects"
In hyperpar_tuning_effects.Rmd, this sentence appears:

I can't figure out what "eol" means, and it's not mentioned again in this document. What does it mean, and does it make sense to write it out (if it's an acronym)?

[2018-01-07 22:46] mb706 opened #138 "The local page build process should be done in a folder that is in .gitignore"
This would probably make switching between branches and / or merging branches much less painful. I suggest a `local` folder next to `devel` and the `release` folders. Travis would also build into `local` and then `mv` everything into `devel`.

[2018-01-08 09:24] jakob-r commented on #137
end of life... but you are right it's really underdocumented (as it is a part of ParamHelpers).
Is it even used by mlr?

[2018-01-09 20:07] larskotthoff commented on #138
Sounds good to me.

[2018-01-29 08:37] pat-s opened #141 "partial_dependence broken"
by this commit: https://github.com/mlr-org/mlr/commit/f09ee72135ef6618bbdb4eaab1b8e979f71fb65b
because the `centering` option was removed?

[code]

[2018-01-30 11:46] pat-s commented on #141
@zmjones cc @larskotthoff

The tutorial section on partial dependence is broken due to the commit in mlr referenced above. Could you please fix it? :) It blocks the travis build.

[2018-01-30 17:00] zmjones commented on #141
yep i am working on it now

[2018-02-11 21:06] #141 closed, assigned to nobody

[2018-04-26 11:33] PhilippPro opened #147 "table of contents"
Where is the table of contents in the new tutorial? That was quite practical, you could skip quickly go to a part by just clicking on the chapter you are interested.

Moreover I think that informations like

at the beginning or

at the end are quite unnecessary, and do not have to appear on every page.

[2018-04-26 12:07] berndbischl commented on #147
this can be removed, we should have one general page that lists authors.

[2018-05-02 20:52] pat-s commented on #147
This is a know issue, see https://github.com/mlr-org/mlr/issues/2236

Also we deprecated this repo, please open all future issues concerning the tutorial at the main repo using the `tutorial` label

[2018-05-04 14:03] pat-s commented on #147
To clarify a bit more: `pkgdown` currently only recognized headers up to a depth of 2. Due to formatting reasons of the pdf we need to start at h2 down to h4. These headers are not recognized atm.
Only using a patched `pkgdown` version for this is not worth it. However, I still have to open an issue for that in the `pkgdown` repo.

[2018-06-21 09:22] #138 closed, assigned to nobody

[2018-06-21 09:23] #126 closed, assigned to nobody

[2018-06-21 09:23] #114 closed, assigned to nobody

[2018-06-21 09:25] #103 closed, assigned to nobody

[2018-06-21 09:26] #99 closed, assigned to SteveBronder

[2018-06-21 09:28] #94 closed, assigned to nobody

[2018-06-21 09:28] #91 closed, assigned to nobody

[2018-06-21 09:44] pat-s commented on #71
Following up on this, is there still a need for a clustering intro? If yes, who would be a person that has expertise in this? @rwarnung?

[2018-06-21 09:48] pat-s commented on #67
I'll check in detail in the near future if the current information is enough for developers.
We should definitely link it more prominently in the README as this is the first place where new people will look for developer instructions.

[2018-06-21 09:53] #64 closed, assigned to nobody

[2018-06-21 09:55] #60 closed, assigned to nobody

[2018-06-21 10:37] jakob-r commented on #71
It might be part of the mlr hackathon at WhyR so let's close it here.

[2018-06-21 11:37] rwarnung commented on #71
@pat-s thank you for coming back to my post. In fact I have played a bit but finally did not do that much clustering. So, unfortunately I don't really have that much expertise ... Thank you all for the work on mlr - I love it ! @jakob-r thank you too!

[2018-06-21 15:09] pat-s commented on #71
Ok!

[2018-06-21 15:09] #71 closed, assigned to nobody

[2018-06-21 15:13] pat-s commented on #40
It seems that this has been implemented :)

[2018-06-21 15:13] #40 closed, assigned to nobody

[2018-06-21 15:39] pat-s commented on #15
This seems to be implemented in the tutorial already, so I'll close.

[2018-06-21 15:39] #15 closed, assigned to nobody

[2018-06-21 15:46] #27 closed, assigned to nobody

[2018-06-21 18:46] pat-s commented on #128
See https://github.com/mlr-org/mlr/pull/2297.

Thanks for the work! I finished it up and opened a new PR in the main repo since this one is deprecated.

[2018-06-21 18:46] #128 closed, assigned to nobody

[2018-06-21 18:57] pat-s commented on #11
This issue was moved to mlr-org/mlr#2298

[2018-06-21 18:57] #11 closed, assigned to schiffner

[2018-06-21 18:59] pat-s commented on #12
This issue was moved to mlr-org/mlr#2299

[2018-06-21 18:59] #12 closed, assigned to schiffner

[2018-06-21 19:08] pat-s commented on #25
This issue was moved to mlr-org/mlr#2300

[2018-06-21 19:08] #25 closed, assigned to nobody

[2018-06-21 19:13] pat-s commented on #147
Closing here as the issue with the ToC is listed in https://github.com/mlr-org/mlr/issues/2236

[2018-06-21 19:13] #147 closed, assigned to nobody

[2018-06-21 19:37] pat-s commented on #137
This issue was moved to mlr-org/mlr#2301

[2018-06-21 19:37] #137 closed, assigned to nobody

[2018-06-21 19:47] #123 closed, assigned to nobody

[2018-06-21 19:48] pat-s commented on #120
Can we close this @jakob-r ?

[2018-06-21 19:48] pat-s commented on #112
This issue was moved to mlr-org/mlr#2302

[2018-06-21 19:48] #112 closed, assigned to nobody

[2018-06-21 19:51] #110 closed, assigned to nobody

[2018-06-21 19:54] pat-s commented on #109
This issue was moved to mlr-org/mlr#2303

[2018-06-21 19:54] #109 closed, assigned to nobody

[2018-06-21 19:57] pat-s commented on #108
Not sure if this is so important - can someone give me a headsup on this? Maybe @jakob-r?

[2018-06-21 19:59] pat-s commented on #107
This issue was moved to mlr-org/mlr#2304

[2018-06-21 19:59] #107 closed, assigned to nobody

[2018-06-21 20:01] pat-s commented on #106
This issue was moved to mlr-org/mlr#2305

[2018-06-21 20:01] #106 closed, assigned to nobody

[2018-06-21 20:08] pat-s commented on #105
This issue was moved to mlr-org/mlr#2306

[2018-06-21 20:08] #105 closed, assigned to nobody

[2018-06-21 20:15] pat-s commented on #102
This issue was moved to mlr-org/mlr#2307

[2018-06-21 20:15] #102 closed, assigned to nobody

[2018-06-21 20:20] pat-s commented on #98
This issue was moved to mlr-org/mlr#2308

[2018-06-21 20:20] #98 closed, assigned to MasonGallo

[2018-06-21 20:25] pat-s commented on #97
This issue was moved to mlr-org/mlr#2309

[2018-06-21 20:25] #97 closed, assigned to nobody

[2018-06-21 20:36] pat-s commented on #95
This issue was moved to mlr-org/mlr#2310

[2018-06-21 20:36] #95 closed, assigned to ja-thomas

[2018-06-21 21:14] pat-s commented on #89
This issue was moved to mlr-org/mlr#2311

[2018-06-21 21:14] #89 closed, assigned to MasonGallo

[2018-06-21 21:15] pat-s commented on #88
This issue was moved to mlr-org/mlr#2312

[2018-06-21 21:15] #88 closed, assigned to nobody

[2018-06-21 21:21] pat-s commented on #84
This issue was moved to mlr-org/mlr#2313

[2018-06-21 21:21] #84 closed, assigned to nobody

[2018-06-22 09:41] jakob-r commented on #108
I guess `featureless` Learners are meant? Should be mentioned somewhere. I note it down for the whyr mlr hackathon

[2018-06-22 09:44] jakob-r commented on #120
yes

[2018-06-22 09:44] #120 closed, assigned to nobody

[2018-06-22 12:27] pat-s commented on #108
This issue was moved to mlr-org/mlr#2315

[2018-06-22 12:27] #108 closed, assigned to nobody

[2018-06-22 12:32] pat-s commented on #83
This issue was moved to mlr-org/mlr#2316

[2018-06-22 12:32] #83 closed, assigned to nobody

[2018-06-22 12:33] pat-s commented on #80
This issue was moved to mlr-org/mlr#2317

[2018-06-22 12:33] #80 closed, assigned to nobody

[2018-06-22 12:35] pat-s commented on #79
This issue was moved to mlr-org/mlr#2318

[2018-06-22 12:35] #79 closed, assigned to nobody

[2018-06-22 12:36] pat-s commented on #65
This issue was moved to mlr-org/mlr#2319

[2018-06-22 12:36] #65 closed, assigned to nobody

[2018-06-22 12:37] pat-s commented on #67
This issue was moved to mlr-org/mlr#2320

[2018-06-22 12:37] #67 closed, assigned to nobody

[2018-06-22 12:38] pat-s commented on #61
This issue was moved to mlr-org/mlr#2321

[2018-06-22 12:38] #61 closed, assigned to nobody

[2018-06-22 12:39] pat-s commented on #56
This issue was moved to mlr-org/mlr#2322

[2018-06-22 12:39] #56 closed, assigned to nobody

[2018-06-22 12:44] pat-s commented on #54
This issue was moved to mlr-org/mlr#2323

[2018-06-22 12:44] #54 closed, assigned to schiffner

[2018-06-22 12:45] pat-s commented on #52
This issue was moved to mlr-org/mlr#2324

[2018-06-22 12:45] #52 closed, assigned to smilesun

[2018-06-22 12:46] pat-s commented on #38
This issue was moved to mlr-org/mlr#2325

[2018-06-22 12:46] #38 closed, assigned to nobody

[2018-06-22 12:46] pat-s commented on #37
This issue was moved to mlr-org/mlr#2326

[2018-06-22 12:46] #37 closed, assigned to nobody

[2018-06-22 12:47] pat-s commented on #26
This issue was moved to mlr-org/mlr#2327

[2018-06-22 12:47] #26 closed, assigned to nobody

[2019-10-20 11:59] woodysung opened #149 "oneclass_classification.Rmd"
Hi,

I am studying topic in Anomaly Detection and try to execute the example but get the error message.
https://github.com/mlr-archive/mlr-tutorial/blob/gh-pages_oneclass/src/oneclass_classification.Rmd

***************************************************************************

Error: Failed to install 'unknown package' from GitHub:
  HTTP error 404.
  No commit found for the ref oneclass_lof_db

[2019-12-02 13:07] jakob-r opened #150 "Tables in appendix have hidden horizontal scroll"
Problem:
![image](https://user-images.githubusercontent.com/1888623/69960412-aa0ba400-1509-11ea-8c65-daf73d25c03b.png)

Proposed solution (quick & dirty):
[code]
[video](https://i.imgur.com/IgyQQhG)

[2019-12-03 13:44] pat-s commented on #150
Thanks. How about this

[code]

This expands the table width and adds a white background. With this tables are now allowed to span more or less the width of the full container rather than just the body-width.
This way, the sidebar is still sticky for other sides and will be auto-covered by the table if there is one.

The important parts are

- position: sticky;
- width: 135%;

others are just the

[2019-12-03 15:42] jakob-r commented on #150
I needed to add `z-index` so that it actually covers the sidebar. So this would have to be added to `extra.css` (`margin-bottom` will be inherited from boostrap.min.css)

[code]

[2019-12-03 16:01] pat-s commented on #150
Hm, strange. Usually higher z-index values should cover lower ones. On the other side this setting shouldn't do any harm. Let's go with this and see how the result looks like.

[2019-12-03 16:04] pat-s commented on #150
I might need to adjust `width` later to see how it plays with not so wide tables, e.g. in `mlr3`.

[2019-12-03 16:05] pat-s commented on #150
Fixed in https://github.com/mlr-org/mlr3pkgdowntemplate/commit/86b29e08490594007239e0ab3ac86586f02bfbbd.

[2019-12-03 16:05] #150 closed, assigned to nobody

[2019-12-04 09:41] jakob-r commented on #150
This might be an issue. We can select the tables the following way:
- measures
[code]
- learners (because the id includes the number we have to be creative)
[code]

Okay. This is very specific and not really nice. Unfortunately I don't find any attribute I can select on a higher level (e.g. all tables in `integrated learners`) because the template does not generate any specific id or whatsoever :(

[2019-12-04 15:05] pat-s commented on #150
Sounds good. Do you wanna do a PR?

[2020-01-21 08:32] pat-s commented on #150
@jakob-r I've reverted to use normal table styles again. The change caused all tables to overflow everything horizontally.

I also added a new css class `.wideTable` which can be used for specific tables.

It should go something like

[code]

Though things are not working perfectly yet.
It might even be easier when using R objects instead of raw markdown tables.

I am not sure if the `table.attr`